*div{
    display: inline;
    height: 100px;
    padding: 20px;
    margin: 25px;

}
h4{
    text-align: center;
    color: red;
}
h3{
    cursor: pointer;
    color:black;
}
p{
    color:green;

}
a:hover{
    background-color: aqua;
    color:red;
}

